body{
	font-family:Verdana;
	font-size:20px;
	background-color:#dcdee0;
}
h2{
	font-size:27px;
	color:#56308c;
}
h3{
	color:#eb4034;
}
header, footer{
	text-align:center;
	margin:10px;
}	
img{
	width:350px;
	border-radius:5%;
	box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.75);
	float:left;
	margin-right:15px;
}
br{
	clear:both;
}
p{
	line-height:1cm;
	width:95%;
}
a{
	text-decoration:none;
	background-color:#333;
	color:white;
	padding:14px 14px;
	border:1px solid black;
		
	}
	a:hover{
		background-color:#acaf50;
	}